    <footer>
        <div class="container">
            <form>
                <div class="form-group">
                    <label for="memo">Memo</label>
                    <textarea class="form-control" id="memo" rows="8"></textarea>
                </div>
                <div>
                    <input type="submit" value="Lưu" class="btn btn-outline-primary">
                </div>
            </form>
        </div>
    </footer>
</body>

</html>