    <div class="jumbotron jumbotron-fluid">
        <div class="container-fluid">
            <div>
                <form>
                    <div class="form-group">
                        <label for="memo">Memo</label>
                        <textarea class="form-control" id="memo" rows="3"></textarea>
                    </div>
                    <div>
                        <input type="submit" value="Lưu" class="btn btn-outline-primary">
                    </div>
                </form>
            </div>
        </div>
    </div>
</body>

</html>