<%- include('./includes/head.ejs') %>
    <div class="container">
        <div class="row">
            <div class="col-12 col-lg-6">
                <a href= "/working">
                    <div class="card">
                        <h3 class="card-title">Điểm danh</h3>
                        <div class="card-body">
                            <p>Điểm danh, kết thúc giờ làm, đăng ký nghỉ phép</p>
                        </div>
                    </div>
                </a>   
            </div>
             <div class="col-12 col-lg-6">
                <a href= "/user/information">
                    <div class="card">
                        <h3 class="card-title">Thông tin cá nhân</h3>
                        <div class="card-body">
                            <p>Xem/sửa thông tin cá nhân</p>
                        </div>
                    </div>

                </a>   
            </div>
            <div class="col-12 col-lg-6">
                <a href= "/user/working-time">
                    <div class="card">
                        <h3 class="card-title">Tra cứu thông tin giờ làm</h3>
                        <div class="card-body">
                            <p>Tra cứu số giờ làm, chi tiết lương tháng</p>
                        </div>
                    </div>
                </a>   
            </div>
            <div class="col-12 col-lg-6">
                <a href= "/user/covid">
                    <div class="card">
                        <h3 class="card-title">Covid cá nhân</h3>
                        <div class="card-body">
                            <p>Đăng ký thông tin thân nhiệt, thông tin vaccine đã tiêm, đăng ký dương tính Covid</p>
                        </div>
                    </div>
                </a>   
            </div>
        </div>
    </div>
<%- include('./includes/footer.ejs') %>