<%- include('../includes/head.ejs') %>
   <div class="container">
        <div class="row">
            <div class="col-12 col-lg-4">
                <a href= "/working-time/search">
                    <div class="card">
                        <h3 class="card-title">Danh sách giờ làm</h3>
                    </div>
                </a>   
            </div>
            <div class="col-12 col-lg-4">
                <a href= "/working-time/salary">
                    <div class="card">
                        <h3 class="card-title">Lương tháng</h3>
                    </div>
                </a>   
            </div>
        </div>
    </div>
<%- include('../includes/footer.ejs') %>