<%- include('../includes/head.ejs') %>
    <div class="container">
        <div class="row">
            <div class="col-12 col-lg-12">
                <div class="card">
                    <h3 class="card-title">Điểm danh</h3>
                    <h5>Trạng thái: Offline</h5> 
                    <form action="/working/post-checkin" method="POST">
                        <div class="form-group">
                            <label for="name">Tên</label>
                            <input type="text" class="form-control" id="name" name="name" value="<%= user.name%>" readonly>
                        </div>
                        <div class="form-group">
                            <label for="location">Địa điểm làm việc</label>
                            <select class="form-control" id="location" name="location">
                                <option>Nhà</option>
                                <option selected>Công ty</option>
                                <option>Khách hàng</option>
                            </select>
                        </div>
                        <div class="form-group">
                            <input type="submit" value="Bắt đầu" class="btn btn-success">
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>
<%- include('../includes/footer.ejs') %>