<%- include('../includes/head.ejs') %>
    <div class="container-fluid">
        <div class="row">
            <div class="col-12 col-lg-4">
                <a href= "/working/checkin">
                    <div class="card">
                        <h3 class="card-title">Điểm danh</h3>
                    </div>
                </a>   
            </div>
            <div class="col-12 col-lg-4">
                <a href= "/working/checkout">
                    <div class="card">
                        <h3 class="card-title">Kết thúc làm</h3>
                    </div>
                </a>   
            </div>
            <div class="col-12 col-lg-4">
                <a href= "/working/annualleave">
                    <div class="card">
                        <h3 class="card-title">Nghỉ phép</h3>
                    </div>
                </a>   
            </div>
        </div>
    </div>
<%- include('../includes/footer.ejs') %>